body {
	max-width: 103%;
	width: 103%;
	overflow-x: hidden;
	font-size: 13px;
}

#container {
  margin: 0;
  width: 300px;
  padding-left: 15px;
  padding-right: 15px;
}

#container .title {
  font-size: 15px;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
}

hr.popuplinebreak {
	width: 100%;
	height: 1px;
}
